.app-merhaba-kimya {
  display:flex;
  align-items: center;
  justify-content: center;
  top:0px;
  left: 0px;
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.bg {
  width:100%;
  position: fixed;
  top:0px;
  height:100%;
  left:0px;
  background:linear-gradient(#000, #281c3c);
  color:#fff;
}
.bg span {
  transition: all 10s;
  font-family: Oxygen, sans-serif;
  font-weight: bold;
}
.element {
  z-index:1;
  display:flex;
  flex-direction: column;
  background:#01579b;
  color:#fff;
  padding:8px;
  cursor:default;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  margin:2px;
}
.element-simge {
  margin:0px;
  font-weight: normal;
}
.asil-harf {
  font-weight: bold;
}
.diger-harfler {
  font-size:22px;
  color:#ddd;
}
.element-numara {
  width:100%;
  font-weight: bold;
  display:flex;
  padding-left:5px;
  font-size: 10px;
  justify-content: flex-end;
}
.kelime {
  display:flex;
  margin:2px;
}
.app-info {
  color:#fff;
  display:flex;
  z-index:1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-info p {
  margin:5px;
  margin-top:20px;
}
.link-default {
  background:#00000033;
  text-decoration:none;
  padding:13px;
  min-width: 90px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:5px;
  color:#fff;
  border:1px solid #aaa;
  transition: all .3s;
  border-radius: 4px;
  font-weight: bold;
}
.link-default:hover {
  background:#000;
  color:#fff;
}
.link-default:active {
  background:#000000aa;
  color:#fff;
}

/* */
.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-label input {display:none;}

.cb-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.cb-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .cb-slider {
  background-color: #2196F3;
}

input:focus + .cb-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .cb-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.cb-slider.round {
  border-radius: 34px;
  transition: .3s;
}

.cb-slider.round:before {
  border-radius: 50%;
}
.anim-title {
  font-weight: 300;
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
.anim-title:hover {
  color:#0288dd;
}

.toggle-anim {
  width:90%;
  margin-left:5%;
  display: flex;
  height:80px;
  align-items: center;
  justify-content: flex-end;
}
